<!DOCTYPE html>
<html>
<head>
  <script src="/javascripts/jquery-3.2.1.min.js"></script>
  <title>Logindb_delete</title>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
  <h1>로그인 데이터베이스 삭제</h1>

  <!--수정 요망-->
  <form action="/logindb_delete" method="post">
    <table border="1">
      <input type="hidden" name="idx" value="<%=row.idx%>"/>
      <tr>
        <td>로그인</td>
        <td><%=row.title%></td>
      </tr>
      <tr>
        <td>로그아웃</td>
        <td><%=row.content%></td>
      </tr>
      <tr>
        <td colspan="2">
          <button type="submit">글 삭제</button>
          <a href="/logindb_list">리스트로 돌아가기</a>
        </td>
      </tr>
    </table>
  </form>
</body>
</html>
